backend/data/*.json
__pycache__/
*.pyc
node_modules/
.DS_Store
miniprogram/assets/tab-*.png
*.deb
.claude/
chromium/
node_modules/
/package.json
/package-lock.json

# 微信开发者工具自动生成
miniprogram/miniprogram_npm/
.cloudbase/
i18n/
miniprogram/app.miniapp.json
project.miniapp.json
